:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  --piece-color: #579fb4;
  --primary-background: #002439;
  --primary-text: #579fb4;
  --white-glow: hsl(0 0% 100% / 0.3);
  --sm-font: min(2vw + 0.2rem, 1rem);
  --md-font: min(2.5vw + 0.2rem, 1.25rem);
  --lg-font: min(3vw + 0.2rem, 1.5rem);
  --lg2-font: min(3.5 + 0.2rem, 1.75rem);
}

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
}
.playSurface {
  min-height: calc(100vh - (env(safe-area-inset-bottom)));
  touch-action: none;
  overflow: hidden;
}
button {
  cursor: pointer;
}
.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.noEvents {
  pointer-events: none;
}
.neonButton {
  font-size: var(--md-font);

  display: inline-block;
  cursor: pointer;
  background: transparent;

  height: fit-content;
  padding: 0.5em 1em;

  border-radius: 0.25em;
  position: relative;
}

.neonButton::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--piece-color);

  box-shadow: 0 0 2em 0.5em var(--piece-color);
  opacity: 0;
  z-index: -1;
  transition: opacity 100ms linear;
}
.neonButton:hover::after,
.neonButton:focus::after,
.neonButton:hover::before,
.neonButton:focus::before {
  opacity: 1;
}

.neonButton:hover,
.neonButton:focus {
  color: var(--primary-background);
  text-shadow: none;
  z-index: 1;
}

.neonText {
  color: var(--primary-text);
  text-shadow: 0 0 0.12em var(--white-glow), 0 0 0.4em currentColor;
  letter-spacing: 0.07em;
}
.neonBorder {
  border: var(--primary-text) 0.125em solid;
  box-shadow: inset 0 0 0.5em 0 var(--primary-text),
    0 0 0.5em 0 var(--primary-text);
}

.centerAbs {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
