.paddle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    height: 6rem;
    width: .3rem;
    background-color: var(--piece-color);
    z-index: 5;
    border-radius: 4px;
}

.left{
    left: .5rem;
}
.right{
    right:.5rem;
}