.lobyyContainer{
    padding: 2em;
    padding-bottom: 3.5em;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}
.lobbyNav{
    font-size: 1.25rem;
    margin-bottom: 1.2em;
}

.row.lobbyPlayer{
    justify-content: space-around;
    height: 75%;
}

.changeSatusBtn{
    width: 5.5em;
}