.paddle{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    min-height: 7vh;
   
    width: .1vw;
    background-color: var(--piece-color);
    z-index: 5;
    border-radius: 4px;
}

.left{
    left: 4vw;
}
.right{
    right:4vw;
}