.paddle{
    position: absolute;
    top: 47vh;

    min-height: calc(6vh + 8px);
   
    width: .1vw;
    background-color: var(--piece-color);
    z-index: 5;
    border-radius: 4px;
}
.paddle::after,.paddle::before{
    content: '';
    position: inherit;

    width: 4vw;
    min-height:16vh ;
    background-color: transparent;
    transform: translateY(-5vh);
}
.paddle::before{
    transform: translate(-4vw,-5vh);
}
.left{
    left: 5vw;
}
.right{
    right:5vw;
}