.pong {
  background: var(--piece-color);

  position: absolute;
  left: 50%;
  width: calc(1.5vh + 2px);
  height: calc(1.5vh + 2px);
  border-radius: 50%;
  border: none !important;
  z-index: 5;
}
