.row.controlContainer {
  justify-content: space-evenly;
  font-size: var(--sm-font);
}
.playerIndicator {
  font-size: var(--lg-font);
  margin-bottom: 0.25em;
  position: relative;
  width: fit-content;
  align-self: center;
}
.playerIndicator::before {
  font-size: var(--sm-font);
  position: absolute;
  top: 25%;
}
.hostInd.playerIndicator::before{
  content: 'Host';
  right: -6ch;

}
.connectedInd.playerIndicator::before{
  content: 'Joined';
  right: -8ch;
}
.samePlayer.playerIndicator::after {
  content: "You";
  font-size: var(--sm-font);
  position: absolute;
  top: -50%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
}

.choosePlayerContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: var(--sm-font);
  width: 30vw;
}
.mobileIndicator {
  width: 5em;
  min-height: 8em;
  position: relative;
  border-radius: 0.5em;
}
.mobileIndicator::before {
  content: "";
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
  width: 1em;
  min-height: 1em;
  border: var(--primary-text) 0.125em solid;
  border-radius: 1em;
  box-shadow: inset 0 0 0.5em 0 var(--primary-text),
    0 0 0.5em 0 var(--primary-text);
  transition: border 100ms linear;
}
.mobileIndicator > span {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.mobileIndicator::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0em;
  left: 0;
  right: 0;
  background-color: var(--primary-text);
  box-shadow: inset 0 0 0.5em 0 var(--primary-text),
    0 0 0.5em 0 var(--white-glow), 0 0 1em 0 var(--primary-text),
    0 0 2em 0 var(--primary-text);
  z-index: -1;
  opacity: 0;
  transition: opacity 100ms linear;
}

.active.mobileIndicator {
  color: var(--primary-background);
  text-shadow: none;
  z-index: 1;
}

.active.mobileIndicator::before {
  border: var(--primary-background) 0.125em solid;
  box-shadow: none;
}
.keyBtn {
  background: transparent;
  border: none;
  color: var(--primary-text);
}
.keyIndicator {
  font-size: var(--md-font);
  min-width: 3em;
  min-height: 3em;
  background: transparent;
  position: relative;
  color: var(--primary-text);
  margin-bottom: 0.75em;
}
.keyIndicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  box-shadow: inset 0 0 0.5em 0 var(--primary-text),
    0 0 0.5em 0 var(--white-glow), 0 0 1em 0 var(--primary-text),
    0 0 2em 0 var(--primary-text);
  transition: opacity 100ms linear;
}
.keyBtnText {
  font-weight: 600;
}
.active.mobileIndicator::after,
.keyBtn:hover .keyIndicator::before,
.keyBtn:focus .keyIndicator::before,
.active.keyIndicator::before {
  opacity: 1;
}
.indicatorTitle {
  margin-bottom: 0.75em;
  margin-top: 0.75em;
}

/* @media  (max-width:40em) {
  .keyContainer,
  .mobileContainer {
display: none;
  }
} */
