.game_container{
    width: 100vw;
    max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
    background: #160712 ;
}

.game_container:after{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: var(--piece-color);
    width: .3rem;
    height: 100vh;
    z-index: 1;
    content: '';
    box-shadow: inset 0 0 0.5em 0 var(--primary-text),
    0 0 0.5em 0 var(--primary-text);
}

.menu{
    z-index: 10;
    background: #160712;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 80vw;
    height: 90vh;
    color: var(--piece-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}