.gameContainer{
    width: 100vw;
    max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  margin: 0;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
    background: #160712 ;
}

.gameContainer:after{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: var(--piece-color);
    width: .3rem;
    height: 100vh;
    z-index: 1;
    content: '';
    box-shadow: inset 0 0 0.5em 0 var(--primary-text),
    0 0 0.5em 0 var(--primary-text);
}

.scoreContainer{
    font-size: 2rem;

    display: flex;
    justify-content: space-around;
    width: 90vw;
    margin: 0 auto;
    margin-top: 2em;
}